.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.banner {
    text-align: center;
    height: 10%;
    background: grey;
}
.content {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    height: 80%;
}
.retract {
    display: flex;
    justify-content: space-around;
    height : 10%;
}
.deleteaction {
    display: flex;
}
.food-category {
    display: flex;
    flex-direction: column;
    min-width: 18%;
}

.category-items {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding-top: 10px;
}
/* .category-items  div {
    min-height: 3rem;
} */
.category-header {
    text-align: center;
    font-weight: 700;
}
.sell-button {
    cursor: pointer;
    border-radius: 2px;
    background: #3498db;
    color: #fff;
    letter-spacing: 1px;
    outline: none;
    border: none;
}
.sell-button:disabled {
    cursor: not-allowed;
    background: gray;
}
.item-count {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #3498db;
    padding: 3px;
    color: red;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-items-list {
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
}
.item-detail {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-action {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#unsell {
    max-height: 25px;
}