<div class="container">
    <div class = "banner">
      <h1>Virunnu</h1>
    </div>
    <div class = "content">
      <div class="food-category" *ngFor="let category of mainContent">
        <div class="category-header">
          {{category.category_name}}
        </div>
        <div class="category-items">
          <div class="category-items-list" *ngFor="let item of category.items">
            <div class="item-detail">
              <div class="item-name">
                  {{item.item_name}}
              </div>
              <div class="item-count min-height-0">
                  <span>{{item.count}}</span>
              </div>  
            </div>
            <div class="item-action">
              <div class="item-select">
                  <select #count>
                    <option *ngFor="let x of ' '.repeat(5).split(''); let i = index;">{{i+1}}</option>
                  </select>
              </div>
              <button id="btn-{{item.id}}" class="sell-button min-height-0" (click)="sellItem(count.value, item.id)">
                  Sell
              </button>
            </div>     
          </div>
        </div>
      </div>
    </div>
    <div class = "retract">
        <div class = "deleteaction">
          <div class = "deleteoptions">
            <select #deleteditem >
              <option *ngFor= "let names of items" value = {{names.id}}>{{names.item_name}}</option>
            </select>
          </div>
          <div class = "deletecount">
            <select #deletequantity>
                <option *ngFor="let x of ' '.repeat(5).split(''); let i = index;">{{i+1}}</option>
            </select>
          </div>
          <button id = "unsell" class="sell-button min-height-0" (click) = "unsellItem(deletequantity.value, deleteditem.value)">UnSell</button>
      </div>
    </div>
  </div>